certifi==2019.9.11
chardet==3.0.4
Django==2.2.7
django-braces==1.13.0
django-crispy-forms==1.8.0
django-filebrowser==3.13.1
django-grappelli==2.14.2
django-haystack==2.8.1
django-model-utils==3.2.0
idna==2.8
lxml==4.4.1
Pillow==6.2.1
psycopg2-binary==2.8.4
pyoai==2.5.0
pytz==2019.3
requests==2.22.0
Sickle==0.6.4
six==1.13.0
sqlparse==0.3.0
Unipath==1.1
urllib3==1.25.6
Whoosh==2.7.4
